services:
  # Reverse proxy manager
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:2.12.1
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "81:81"
    volumes:
      - ./nginx-proxy-manager/data:/data
      - ./nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    networks:
      - philo-assets-network

  # Static files server with signed URL validation
  nginx-static:
    image: nginx:1.29.4
    container_name: nginx-static
    restart: unless-stopped
    environment:
      - ASSETS_SIGNING_SECRET=${ASSETS_SIGNING_SECRET}
    volumes:
      - ${ASSETS_DIR}:/usr/share/nginx/html:ro
      - ./nginx-static/default.conf.template:/etc/nginx/templates/default.conf.template:ro
    networks:
      - philo-assets-network

  # FileBrowser GUI + API
  filebrowser:
    image: filebrowser/filebrowser:v2.31.2
    container_name: filebrowser
    volumes:
      - ${ASSETS_DIR}:/srv
      - ./filebrowser/database.db:/database.db  # Keep an empty file here so the app can have the correct permissions
    environment:
      FB_BASEURL: /
    user: "${UID}:${GID}"
    networks:
      - philo-assets-network

networks:
  philo-assets-network:
    driver: bridge
