services:
  # Reverse proxy manager
  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "81:81"
    volumes:
      - ./nginx-proxy-manager/data:/data
      - ./nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    networks:
      - philo-assets-network

  # Static files server
  nginx-static:
    image: nginx:latest
    container_name: nginx-static
    restart: unless-stopped
    volumes:
      - ${ASSETS_DIR}:/usr/share/nginx/html:ro
      - ./nginx-static/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - philo-assets-network

  # FileBrowser GUI + API
  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    volumes:
      - ${ASSETS_DIR}:/srv
      - ./filebrowser/database.db:/database.db  # Keep an empty file here so the app can have the correct permissions
    environment:
      FB_BASEURL: /
    user: "${UID}:${GID}"
    networks:
      - philo-assets-network

networks:
  philo-assets-network:
    driver: bridge
